h2{
    text-align: center;
    color:lightpink;
}

p{ /*default border*/
    border-style:none; 
   
}

.solid{
    border-style:solid;
}

.dotted{
    border-style:dotted;
}

.dashed{
    border-style:dashed;
}

.double{
    border-style:double;
}

