body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.logo {
  position: relative;
}

.letter {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #4285F4;
  border-radius: 50%;
}

.G {
  animation: move-G 5s ease-in-out infinite;
}

.o:nth-child(2) {
  animation: move-o 5s ease-in-out infinite;
}

.o:nth-child(3) {
  animation: move-o 5s ease-in-out infinite;
}

.g {
  animation: move-g 5s ease-in-out infinite;
}

.l {
  animation: move-l 5s ease-in-out infinite;
}

.e {
  animation: move-e 5s ease-in-out infinite;
}

@keyframes move-G {
  0% {
    left: 650px;
    top: 170px;
  }
  15% {
    left: 500px;
    top: 170px;
  }
  30% {
    top: 300px;
    left: 500px;
  }
  45% {
    left: 575px;
    top: 300px;
  }
  60% {
    top: 220px;
    left: 575px;
  }
  75% {
    top: 200px;
    left: 650px;
  }
  100% {
    top: 300px;
    left: 650px;
  }
}

@keyframes move-o {
  0% {
    left: 500px;
    top: 170px;
  }
  15% {
    left: 500px;
    top: 170px;
  }
  30% {
    left: 575px;
    top: 300px;
  }
  45% {
    left: 575px;
    top: 300px;
  }
  60% {
    left: 500px;
    top: 170px;
  }
  100% {
    left: 500px;
    top: 170px;
  }
}

@keyframes move-g {
  0% {
    left: 575px;
    top: 220px;
  }
  15% {
    left: 575px;
    top: 220px;
  }
  30% {
    left: 575px;
    top: 300px;
  }
  45% {
    left: 575px;
    top: 300px;
  }
  60% {
    left: 575px;
    top: 220px;
  }
  100% {
    left: 575px;
    top: 220px;
  }
}

@keyframes move-l {
  0% {
    left: 650px;
    top: 200px;
  }
  15% {
    left: 650px;
    top: 200px;
  }
  30% {
    left: 650px;
    top: 170px;
  }
  100% {
    left: 650px;
    top: 170px;
  }
}

@keyframes move-e {
  0% {
    left: 500px;
    top: 300px;
  }
  15% {
    left: 500px;
    top: 300px;
  }
  30% {
    left: 500px;
    top: 220px;
  }
  100% {
    left: 500px;
    top: 220px;
  }
}
