.one{
    font-weight: bolder;
}
*{
    box-sizing: border-box;
}
.main{
    display:flex;
    flex-wrap: wrap;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

.item1{
    background-color: gray;
    padding:30px;
    flex:50%;

}

.item2{
    background-color: aqua;
    padding:30px;
    flex:50%;

}

@media (max-width: 700px){
    .item1, .item2{flex:100%}
}
    


