*{
    background-color:rgb(202, 160, 160);
}
h2{
    color:blue;
    
}

img{
    width:350px;
    height:350px;
    float:right;
    margin-left:5px;
    padding:5px;
}

.pineapple{
    margin-left:5px;
    
}